@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @apply text-sm md:text-lg;
}
.contentContainer {
  @apply bg-gray-50 rounded-sm p-2  shadow-md;
}
.link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.link:hover {
  @apply text-indigo-800;
}

.underliner {
  @apply border-2 border-indigo-500 rounded w-0 transform -translate-x-[10px] transition-all duration-300;
}

.link:hover > .underliner {
  @apply w-full translate-x-0;
}
button {
  @apply px-2 text-center;
}
.loginForm {
  @apply my-10 p-5 bg-indigo-200 backdrop-blur-lg border-white flex flex-col;
}
.loginForm h2 {
  @apply m-3 text-white bg-indigo-500 rounded;
}
input:focus + label,
input:invalid + label {
  transform: translateY(-20px);
  pointer-events: none;
}
.inputsContainer {
  @apply my-20 p-2 shadow-lg;
}
input {
  @apply px-2;
}
.inputs {
  @apply my-4;
}
label {
  color: white;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: black;
  padding: 1rem;
}
.page {
  @apply p-5 mt-8;
}
.dark {
  @apply bg-gray-900 text-white transition;
}
.modal {
  @apply w-full h-[100%] justify-self-center;
}
.modalProductContainer {
  @apply p-2;
}
.indigoBtn {
  @apply hover:bg-transparent hover:text-indigo-500 transition hover:border-indigo-500 border-1;
}
.sideBar {
  @apply py-5 sm:py-0 sm:static;
}
button:hover {
  transform: scale(1.005);
}
button:active {
  transform: scale(0.995);
}
.cartItem {
  @apply p-4;
}
.reviewCard {
  @apply mt-2 p-1;
}
.carousel {
  @apply size-auto max-h-150;
}
.popularProducts {
  @apply rounded-xl shadow-md p-4;
}
.cartSummary {
  @apply fixed bottom-10 p-4 rounded-md w-1/2 right-4 sm:w-1/3  z-50;
}
.cartSummaryH3 {
  @apply flex justify-between border-b-1 border-indigo-500;
}
