@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentContainer {
  @apply border-1 bg-gray-50 rounded-sm p-2 border-gray-300 shadow-md;
}
.link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.link:hover {
  @apply text-indigo-800;
}

.underliner {
  @apply border-2 border-indigo-500 rounded w-0 transform -translate-x-[10px] transition-all duration-300;
}

.link:hover > .underliner {
  @apply w-full translate-x-0;
}
button {
  @apply px-2 text-center;
}
.loginForm {
  @apply my-10 p-5 bg-indigo-200 backdrop-blur-lg border-white flex flex-col;
}
.loginForm h2 {
  @apply m-3 text-white bg-indigo-500 rounded;
}
input:focus + label,
input:invalid + label {
  transform: translateY(-20px);
  pointer-events: none;
}
.inputsContainer {
  @apply my-20;
}
input {
  @apply px-2;
}
.inputs {
  @apply my-4;
}
label {
  color: white;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.page {
  @apply pt-10;
}
.dark {
  @apply bg-gray-900 text-white transition;
}
.modal {
  @apply w-full h-[100%] justify-self-center;
}
.modalProductContainer {
  @apply p-2;
}
